ALTER TABLE lead_businesses ADD COLUMN IF NOT EXISTS industry_group text; ALTER TABLE lead_businesses ADD COLUMN IF NOT EXISTS sub_industry text; ALTER TABLE lead_businesses ADD COLUMN IF NOT EXISTS is_chain boolean DEFAULT false;
